.container {
  margin-bottom: var(--size-s);
}

.select {
  border: none;

  min-width: var(--min-width);

  background-color: var(--fg-color);

  padding: var(--size-xs);
  margin-bottom: var(--size-m);

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
}

.label {
  margin-bottom: var(--size-xs);
}
