.container {
  all: unset;

  :hover {
    background-color: var(--border-color);
  }
}

.content {
  display: flex;
  align-items: center;

  gap: var(--size-s);
  padding: var(--size-s);
  margin-top: var(--size-s);
  margin-bottom: var(--size-s);

  :last-of-type {
    margin-left: auto;
  }
}

.incoming {
  color: var(--success-color);
}
.outcoming {
  color: var(--negative-color);
}
