.textarea {
  min-width: calc(var(--minWidth) - (2 * var(--sizeXS)));

  padding: var(--sizeXS);

  background-color: var(--fgColor);

  border: none;

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--sizeM);
}
