.textarea {
  min-width: calc(var(--min-width) - (2 * var(--size-xs)));

  padding: var(--size-xs);

  background-color: var(--fg-color);

  border: none;

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
}
