.container {
  margin-bottom: var(--size-s);
}

.input {
  padding: var(--size-xs);
  margin-bottom: var(--size-m);

  background-color: var(--border-color);
  color: var(--fg-color);

  border: none;
  border-radius: var(--size-xs);

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
}

.input[type='checkbox'] {
  min-width: auto;
}
.input[type='date'] {
  appearance: none;
}

.label {
  margin-bottom: var(--size-xs);
}
