@import './theme.scss';

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: 16px;

  background-color: var(--bgColor);
  color: var(--fgColor);
}
