@use 'sass:color';

:root {
  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-xxl: 64px;

  --min-width: 250px;
  --max-width: 720px;

  --primary-color: #612f74;

  --border-color: #21262d;

  --negative-color: #d73a4a;
  --success-color: #238636;

  --bg-color: #0d1117;
  --fg-color: #c9d1d9;

  --font-family: Roboto, sans-serif;
}
