.form {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  gap: var(--size-s);
}

.input {
  background-color: var(--bg-color);
  color: var(--fg-color);

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
  font-weight: var(--font-weight-bold);

  border: 2px solid var(--primary-color);
  border-radius: var(--size-xs);

  padding: var(--size-xs);
}

.label {
}

.labelError {
  color: var(--negative-color);
}

.actions {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  gap: var(--size-s);

  margin-top: var(--size-m);
}
