.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: inherit;
  margin-top: var(--size-s);
}

.spinner {
  animation: spin infinite 0.7s linear;
  color: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
