.container1 {
  border: 2px solid var(--border-color-light);
  border-radius: var(--size-xs);
  padding: var(--size-s);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.negative {
  color: var(--negative-color);
}
