* {
  text-transform: lowercase;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-family);
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;

  color-scheme: dark !important;

  background-color: var(--bg-color);
  color: var(--fg-color);
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
main {
  padding: var(--size-s);
  max-width: var(--max-width);
  margin: 0 auto;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
a {
  color: inherit;
  text-decoration: inherit;
}
svg {
  fill: currentColor;
  width: var(--size-icon);
  height: var(--size-icon);
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-s {
  gap: var(--size-s);
}
.gap-sm {
  gap: var(--size-sm);
}
.gap-m {
  gap: var(--size-m);
}
.flex-wrap {
  flex-wrap: wrap;
}
