:root {
  --size-xs: 4px;
  --size-s: 8px;
  --size-sm: 12px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-xxl: 64px;

  --min-height-input: 30px;

  --size-icon: var(--size-l);

  --min-width: 250px;
  --max-width: 720px;

  --primary-color: var(--primary);

  --border-color: #21262d;
  --border-color-light: #7b7a7a;

  --negative-color: #d73a4a;
  --success-color: #2fb64d;

  --bg-color: #181a1b;
  --fg-color: #e8e6e3;
  --secondary-fg-color: #c296d4;
  --disable-fg-color: #563f60;

  --font-family: Poppins, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-placeholder: 14px;
}
