.button {
  border: none;

  margin-bottom: var(--sizeS);
  padding: var(--sizeXS);

  background-color: var(--primaryColor);
  color: var(--fgColor);

  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--sizeM);
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
