.button {
  border: none;
  border-radius: var(--size-xs);

  padding: var(--size-xs);

  background-color: var(--primary-color);
  color: var(--fg-color);

  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
