// .App {
//   text-align: center;
// }

.App-body {
  background-color: #282c34;
  // min-height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: left;
  color: white;
}

.App-link {
  color: #61dafb;
}
