.form {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  gap: var(--size-s);
}

.field {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: var(--bg-color);
  color: var(--fg-color);

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
  font-weight: var(--font-weight-bold);

  border: 2px solid var(--primary-color);
  border-radius: var(--size-xs);

  padding: var(--size-xs);

  width: 100%;
  min-height: var(--min-height-input);

  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

  &:focus {
    border-color: var(--secondary-fg-color);
  }

  &:disabled {
    background: linear-gradient(rgb(0 0 0/60%) 0 0);
    color: var(--disable-fg-color);
    border-color: var(--disable-fg-color);
  }

  &::placeholder {
    font-size: var(--font-size-placeholder);
  }
}

.select {
  @extend .input;
}

.label {
}

.labelError {
  color: var(--negative-color);
  font-size: var(--size-sm);
}

.actions {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  gap: var(--size-s);

  margin-top: var(--size-m);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.return {
  color: var(--primary-color);
  width: var(--size-icon);
  height: var(--size-icon);
  margin-right: var(--size-s);
}

.emoji {
  display: flex;
  gap: var(--size-s);

  button {
    padding-top: 0;
    padding-bottom: 0;
  }
}
