.container {
  all: unset;

  :hover {
    background-color: var(--border-color);
  }
}

.content {
  display: flex;
  align-items: center;

  gap: var(--size-s);
  padding: var(--size-m) var(--size-s) var(--size-m) var(--size-s);

  :last-child {
    margin-left: auto;
  }

  svg {
    fill: var(--primary-color);
  }
}

.expense {
  color: var(--secondary-fg-color);
}

.incoming {
  color: var(--success-color);
}
.outcoming {
  color: var(--negative-color);
}
