.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-s);

  padding: var(--size-s);

  cursor: pointer;

  font-style: normal;
  font-weight: normal;
  font-family: var(--font-family);
  font-size: var(--size-m);
  font-weight: var(--font-weight-bold);

  &:disabled {
    background-image: linear-gradient(rgb(0 0 0/60%) 0 0);
    color: var(--disable-fg-color);
    cursor: progress;
  }

  &:hover:not([disabled]) {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  }
}

.buttonPrimary {
  border: none;
  border-radius: var(--size-xs);
  background-color: var(--primary-color);
  color: var(--fg-color);
}

.buttonSecondary {
  border: 2px solid var(--secondary-fg-color);
  border-radius: var(--size-xs);
  background-color: var(--bg-color);
  color: var(--secondary-fg-color);

  &:disabled {
    border-color: var(--disable-fg-color);
  }
}

.buttonDelete {
  border: 2px solid var(--negative-color);
  border-radius: var(--size-xs);
  background-color: var(--bg-color);
  color: var(--negative-color);

  &:disabled {
    border-color: var(--disable-fg-color);
  }
}

.widthFit {
  width: 100%;
}
