.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: var(--size-s);
}

.title {
  font-size: var(--size-m);
  cursor: pointer;
}

.icon {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.avatar {
  height: var(--size-l);
  width: var(--size-l);

  border-radius: 50%;

  object-fit: cover;
}
