.container {
  background-color: var(--primary-color);
  padding: var(--size-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.title {
  font-size: var(--size-m);
  cursor: pointer;
}

.icon {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.avatar {
  cursor: pointer;
  height: var(--size-icon);
  width: var(--size-icon);

  border-radius: 50%;

  object-fit: cover;
  vertical-align: middle;
}
